.control {
  padding-left: rem(50px);
  padding-right: rem(50px);
  font-family: Greycliff CF, var(--mantine-font-family);
  font-size: rem(22px);
  width: 100%;

  /* @media (max-width: $mantine-breakpoint-md) {
    width: 100%;
  } */
}
